<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Vuejs</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div id="class1">
      <!-- Interpolacija -->
      <h1 id="title">Vuejs Framework 3</h1>
      <h2>{{"Hello" + " " + "World"}}</h2>
      <p>{{ subTitle }}</p>
      <p>Class: {{ classNumber }}/Vuejs</p>
      <p>We are learning: {{ courses[3] }}</p>
      <p>Reveresed Subtitle: {{ reverseString(subTitle) }}</p>
      <p>Subtitle Uppercased: {{ subTitle.toUpperCase() }}</p>
      <hr />
      <!-- event handling -->
      <!-- <button v-on:click="subTitle = 'Vuejs Events'">Change Subtitle</button> -->
      <button v-on:click="changeSubtitle">Change Subtitle</button>

      <hr />
      <!-- Crtanje na tagovi pod nekoj uslov -->
      <h3 v-if="showParagraph">Conditional Directive in Vuejs</h3>
      <h3 v-else-if="true">Else if Statement</h3>
      <h3 v-else>The Else Statement</h3>
      <hr />
      <p v-show="showParagraph">V-Show directive</p>

      <button v-on:click="showParagraph = !showParagraph">
        Show/Hide h3 Above
      </button>

      <hr />
      <!-- V-BIND -->
      <!-- <input type="text" v-bind:value="subTitle" v-on:input="onSubtitleInput($event)" /> -->
      <input type="text" :value="subTitle" @input="onSubtitleInput($event)" />
      <!-- V-MODEL -->
      <hr />
      <br />
      <input type="text" v-model="fontColor" />
      <p :class="fontColor">{{ fontColor }}</p>

      <hr />
      <!-- V-FOR -->
      <ul>
        <!-- <li v-for="num in [1,2,3,4]">{{ num }}</li> -->
        <!-- <li v-for="course in courses"># {{ course }}</li> -->
        <li v-for="(course, index) in courses">#{{index+1}} {{ course }}</li>
      </ul>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="index.js"></script>
  </body>
</html>
